{% extends "mi_aplicacion/base.html" %}

{% load static %}

{% block titulo %} TPB|Agregar_Autores {% endblock titulo %}

{% block contenidoQueCambia %}

    <form action= "" method= "POST">
        {% csrf_token %}
        <p>nombre: <input type="text" nombre="Nombre"></p>
        <p>apellido: <input type="text" apellido=Apellido></p>
        <p>nacionalidad: <input type="text" nacionalidad="Nacionalidad"></p>

        <table>
            {{ agregar_autor.as_table }}
        </table>
        <input type="submit" value="Enviar">

    </form>
{% endblock contenidoQueCambia %}