{% extends "mi_aplicacion/base.html" %}


    {% block contenidoQueCambia %}

    </head>
    <body>
        <h2>Resultados de la búsqueda:</h2>
        {% if libros %}
            <ul>
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Autor</th>
                        <th>Editorial</th>
                        
                    </tr>
                </thead>
                {% for libro in libros %}
                <tr>
                    <p><br>{{ libro.titulo }}<br><p>
                    <p><br>{{ libro.autor }}<br><p>
                    <p><br>{{ libro.editorial }}<br><p>
                {% endfor %}
        {% else %}
        <p>{{ libros }} </p>
            </ul>
        {% endif %}
    </body>
    </html>
    
    {% endblock contenidoQueCambia %}